@model IEnumerable<ThaiRestaurant.Models.Dish>

<h2 class="custom-font custom-green-text">Dishes</h2>

<div class="row">
    @foreach (var dish in Model)
    {
        <div class="dishes-page col-md-6 col-lg-4 mb-3">
            <div class="card h-100 custom-dark">
                <div class="card-header custom-dark">
                    <h5 class="card-title custom-green-text">@dish.Name</h5>
                </div>

                <div class="card-body custom-dark">
                    <img src="@dish.ImageUrl" class="card-img-top" alt="Image of @dish.Name">
                    <p class="card-text" style="color:white">Price: $@dish.Price</p>
                    <p class="card-text" style="color:white">@dish.Description</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Dishes" asp-action="Edit" asp-route-id="@dish.DishId" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> Edit dish
                        </a>
                        <a asp-controller="Dishes" asp-action="Delete" asp-route-id="@dish.DishId" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> Delete dish
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="col-12 text-end mt-3">
        <a asp-controller="Dishes" asp-action="Create" class="btn btn-primary custom-green-text">
            <i class="bi bi-plus-circle"></i> Create new Dish
        </a>
    </div>
}
